@import 'colorvars';
@import 'breakpoints';
@import 'experiment';

// defaults
body {
	font-size: 16px;
	background: orange;
}

@include breakpoint('sm'){
	body{
		background: blue;
	}
}

@include breakpoint('med'){
	body{
		background: $adamBlue;
	}
}

@include breakpoint('lg'){
	body{
		background: red;
	}
}

@include breakpoint('xlg'){
	body{
		background: lightblue;
	}
}